@import 'variables/variables.module';
@import 'fonts';
@import 'components/atoms/button';
@import 'components/atoms/input';
@import 'components/atoms/icon';
@import 'components/atoms/text';
@import 'components/atoms/statusLabel';
@import 'components/molecules/searchInput';
@import 'components/molecules/stackedBarChart';
@import 'components/molecules/pieChart';
@import 'components/organisms/footer';
@import 'components/organisms/header';
@import 'components/organisms/searchBar';
@import 'components/organisms/chartWrapper';
@import 'components/templates/mainLayout';

html {
	font-size: 16px;
	background-color: $bg-primary-color;
	color: $primary-color;
}

