.search {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	width: 100%;
	> .icon {
		position: absolute;
		top: -4px;
		left: 0;
	}
	> input {
		padding-left: 4rem;
		flex: 1;
	}

}